/*
Theme Name: WordPress MyTemplate
Theme URI: http://www.test.be/
Description: Mijn eigen template
Version: 0.1
Tags:two-colums, right-sidebar, fixed-width
Author: Matthias Mandiau
License: All Rights Reserved
*/

/* ==========================================================================
   WORDPRESS
   ========================================================================== */


@import url('styles/normalize.css');
@import url('styles/bootstrap.css');
@import url('styles/font-awesome.css');
@import url('styles/swipebox.css');
@import url('styles/sidebar.css');


/* ==========================================================================
   FONTS
   ========================================================================== */

@font-face {
    font-family: 'print_boldregular';
    src: url('styles/fonts/printbold-webfont.eot#') format('eot'),
    url('styles/fonts/printbold-webfont.woff') format('woff'),
    url('styles/fonts/printbold-webfont.ttf') format('truetype'),
    url('styles/fonts/printbold-webfont.svg#print_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'print_clearlyregular';
    src: url('styles/fonts/printclearly-webfont.eot#') format('eot'),
    url('styles/fonts/printclearly-webfont.woff') format('woff'),
    url('styles/fonts/printclearly-webfont.ttf') format('truetype'),
    url('styles/fonts/printclearly-webfont.svg#print_clearlyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'refrigeratorlight';
    src: url('styles/fonts/ufonts.com_refrigerator_light-webfont.eot#') format('eot'),
    url('styles/fonts/ufonts.com_refrigerator_light-webfont.woff') format('woff'),
    url('styles/fonts/ufonts.com_refrigerator_light-webfont.ttf') format('truetype'),
    url('styles/fonts/ufonts.com_refrigerator_light-webfont.svg#refrigeratorlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*================================================================================
    MAIN STYLES
=================================================================================*/

html {
    margin: 0;
    padding: 0;
}

body {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */

    /* background: url('images/wood.png') repeat fixed;*/
    font-family: sans-serif;
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
}


h1 {
    font-family: 'refrigeratorlight';
    font-size: 440%;
}
h2 {
    font-family: 'print_boldregular';
    font-size: 38px;
}

p{
    font-size: 14px;

}

.icon {
    color:#D9B779;

    opacity: 0.90;
}
.icon:hover{
    font-size: 600%;
    margin-top: -14px;
}


.logo{
    width: 20%;
    opacity: 0.8;
    margin: 0 auto;
    margin-bottom: 24px;
    margin-right: 60px;
}

.logo2{
    width: 130%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.logo3{
    width: 30%;

}

.button {
    font-family: 'refrigeratorlight';
    font-size: 30px;
    background: none;
    color: black;
    border: 2px #444444 solid;
    padding: 16px 50px;
    -webkit-transition:  ease 0.8s;
    -moz-transition:  ease 0.8s;
    -o-transition:  ease 0.8s;
    transition:  ease 0.8s;
}


.button:hover {
    background: #D9B779;
    color: white;
    border: 2px #111 solid;

}



.buttonwhite {
    font-family: 'refrigeratorlight';
    font-size: 26px;
    background: none;
    color: #f0f0f0;
    border: 2px #f0f0f0 solid;
    padding: 16px 50px;
    margin: 20px;
    -webkit-transition:  ease 0.8s;
    -moz-transition:  ease 0.8s;
    -o-transition:  ease 0.8s;
    transition:  ease 0.8s;
}

.buttonwhite:hover {
    background: #D9B779;
    color:black;
    font-weight: bold;
    border: 2px #f0f0f0 solid;

}

/*================================================================================
    COLORS
=================================================================================*/

.darkgrey{
    color: #1a1a1a;
}
.darkgreybg{
    background-color: #1a1a1a;
}

.grey{
    color: #b9b9b9;
}
.greybg{
    background-color: #b9b9b9;
}


.white{
    color: #fff;
}
.whitebg{
    background-color: #fff;
}


.carbonbg{
    background: url('styles/images/white_carbon.png') repeat;
    opacity: 0.95;
}


.darkcarbonbg{
    background: url('styles/images/micro_carbon.png') repeat;

}

.red{
    color:#f85c37;
}
.redbg{
    background-color:#f85c37;
}

.beige {
    color:#D9B779;
}
.beigebg{
    background: #D9B779;
}
/*================================================================================
   WRAPPERS
=================================================================================*/
.wrapper{
    float: left;
    width: 100%;
}


/*================================================================================
   NAVIGATION
=================================================================================*/
#nav-wrapper{
    margin: 0;
    opacity:0.86;
    border: none;
    -webkit-box-shadow: 0 -7px 65px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 -7px 65px 0 rgba(50, 50, 50, 1));
    box-shadow: 0 -7px 65px 0 rgba(50, 50, 50, 1);


}
.navbar {
    padding: 10px 0;
    -webkit-transition:  ease 0.8s;
    -moz-transition:  ease 0.8s;
    -o-transition:  ease 0.8s;
    transition:  ease 0.8s;
}
.navbar:hover{
    padding: 18px 0;

}
.navbar-collapse{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-family: 'print_boldregular';
    color: #111;
    font-size: 16px;
}

.navbar-brand-logo{

    width: 60%;
    margin-top: -18px;
    -webkit-transition:  ease 0.8s;
    -moz-transition:  ease 0.8s;
    -o-transition:  ease 0.8s;
    transition:  ease 0.8s;

}


.navbar-brand-logo:hover{
    width: 66%;
    margin-top: -22px;

}

.navbar .in .nav li {
    display: block;
    float: none;
    width:100%;
}

.navbar-brand{
    width: 50px;
    height: 50px;
    background: url('styles/images/Logo.svg') no-repeat center center;
    background-size: cover;
    opacity:0.8;

}


#nav-wrapper ul {
    float: right;
    list-style: none;
    margin: 0 0 0 -0.8125em;
    padding-left: 0;
}
#nav-wrapper li {
    float: left;
    position: relative;
}
#nav-wrapper a {
    color: #eee;
    display: block;
    line-height: 3.333em;
    padding: 0 1.2125em;
    text-decoration: none;
}
#nav-wrapper ul ul {
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    display: none;
    float: left;
    margin: 0;
    position: absolute;
    top: 3.333em;
    left: 0;
    width: 188px;
    z-index: 99999;
}
#nav-wrapper ul ul ul {
    left: 100%;
    top: 0;
}
#nav-wrapper ul ul a {
    background: #f9f9f9;
    border-bottom: 1px dotted #ddd;
    color: #444;
    font-weight: normal;
    height: auto;
    line-height: 1.4em;
    padding: 10px 10px;
    width: 168px;
}
#nav-wrapper li:hover > a,
#nav-wrapper ul ul :hover > a,
#nav-wrapper a:focus {
    background: #efefef;
}
#nav-wrapper li:hover > a,
#nav-wrapper a:focus {
    background: #f9f9f9; /* Show a solid color for older browsers */
    background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
    background: -o-linear-gradient(#f9f9f9, #e5e5e5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); /* Older webkit syntax */
    background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
    color: #373737;
}
#nav-wrapper ul li:hover > ul {
    display: block;
}
/*
Styling the currently rendered page
 */
#nav-wrapper .current-menu-item > a,
#nav-wrapper .current-menu-ancestor > a,
#nav-wrapper .current_page_item > a,
#nav-wrapper .current_page_ancestor > a {
    font-weight: bold;
}




/*================================================================================
   HEADER-WRAPPER
=================================================================================*/

#header-wrapper {
    opacity: 0.9;
    padding : 0;
    margin: 0;


}

#header-wrapper h1 {
   font-size: 700%;


}
#header-wrapper li {
    list-style:none;
    display: inline-block;

}

#header-wrapper li:first-of-type {
    float:left;

}
#header-wrapper li:last-of-type {
    float:right;

}

#header-wrapper p,#header-wrapper a{
    padding: 10px;
    font-size: 12px;

}




/*================================================================================
  SLIDES
=================================================================================*/

#nIn-wrapper{
    padding:0;
    margin: 0;
}


.slide1{
    background: url('styles/images/at_sunset_2-wallpaper-1920x1080.jpg') center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.slide2{
    background: url('styles/images/quote_bg2.jpg') fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.slide3{
    background: url('content/images/champagne.jpg') fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;

}

.slide{
    display: block;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 8%;
    border: 0;
    overflow: hidden;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
}





/*================================================================================
   PRE-CONTENT-WRAPPER
=================================================================================*/
#pre-content-wrapper{
    font-family: 'refrigeratorlight';
    font-size: 36px;
    padding: 30px;
}

#pre-content-wrapper p{
    font-size: 30px;
}
#pre-content-wrapper h1{
    font-size: 50px;
}

/*================================================================================
   CONTENT-HEADER
=================================================================================*/
#content-header-wrapper{
    padding: 60px 0 60px 0;

}


#introduction{
    padding-bottom: 10px;

}



/*================================================================================
   SOCIAL MEDIA
=================================================================================*/

#social-media-wrapper {
    height : 100px;
}


#social-media-wrapper a{
   display: block;
}

.socialmedia{
    opacity: 0.7;
    -webkit-transition:  ease 0.8s;
    -moz-transition:  ease 0.8s;
    -o-transition:  ease 0.8s;
    transition:  ease 0.8s;
}
.socialmedia:hover{
    opacity: 1;
}
#facebook{
    height:100%;
    background: #111;
}

#twitter{
    height:100%;
    background: darkred;
}
#vimeo{
    height:100%;
    background: #D9B779;
}

.socialicon{
    opacity: 0.5;
    color: white;
    margin-top: 16px;
    -webkit-transition:  ease 0.8s;
    -moz-transition:  ease 0.8s;
    -o-transition:  ease 0.8s;
    transition:  ease 0.8s;
}
.socialicon:hover{
    opacity: 1;
}


/*================================================================================
   BLOG
=================================================================================*/
#blog{
    padding: 40px 0 60px 0;

}
#blog h1{
    font-size: 56px;


}

#blog h3{

}

#blog li{
    list-style: none;
    display: inline-block;

}

#blog li a {
    color: black;
    text-transform: uppercase;
}

#blog .date {
    color: dimgrey;
    padding-bottom: 16px;
    border-bottom: 2px solid dimgrey;
}

/*================================================================================
   TIP-WRAPPER
=================================================================================*/

#tip-wrapper{
    font-family: 'refrigeratorlight';
    padding: 20px 0 30px 0;
}




/*================================================================================
   ABOUT
=================================================================================*/
#about{
    padding: 40px 0 60px 0;

}
#tarieventabellen {
    margin-top: 16px;
    margin-bottom: 20px;
}
.tarieventabel{
    display: block;
    margin: 0;
    padding: 20px;


}


.tarieventabel li{
    list-style: none;

}

.tarieventabel .title{
    font-size: 40px;
    padding: 0 0 4px 0;
    font-family: 'refrigeratorlight';

}



.tarieventabel .description{
    padding: 10px 0 2px 0;
}

.tarieventabel .btn{
    margin:4px;
}


ul.pricing-table{

    height:auto;
    float:left;
    display:inline-block;

}

/*================================================================================
   OPENINGSUREN
=================================================================================*/

#services{
    overflow: hidden;
    padding: 40px 0 40px 0;

}



.border{
    border-right: 1px white solid;
}


#services header{
    padding-bottom: 20px;
}

table{
    font-family: 'dk_crayon_crumbleregular';
    background: none;
    color: #fff;
    border: none;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: none;
    color: #fff;

}


table thead,
table tfoot {
    background: none;
    border-bottom: 1px #f0f0f0 solid;
}
table thead tr th,
table thead tr td,
table tfoot tr th,
table tfoot tr td {
    padding: 0.5rem 0.625rem 0.625rem;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: left; }
table tr th,
table tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 20px;
    color: #fff; }


/*================================================================================
   GALLERIJ
=================================================================================*/

#pre-gallerij{
    background-size: cover;
    opacity: 0.9;
    padding: 20px 0 80px 0;
}

#pre-gallerij article{
    padding-top: 3%;

}

#pre-gallerij h1{
    font-family: 'refrigeratorlight';
    font-size: 80px;


}

#pre-gallerij p{
    padding-bottom: 8px;


}


.button {
    font-family: 'refrigeratorlight';
    font-size: 30px;
    background: none;
    border: 2px #f0f0f0 solid;
    padding: 16px 50px;
}


.button:hover {

    background: #f85c37;
    color: white;
    border: 2px #111 solid;

}


#portfolio{
    padding: 40px 0 40px 0;

}

#portfolio .row{
    margin-bottom: 20px;

}

#portfolio header{
    padding-bottom:20px;

}

#portfolio ul{
    text-decoration: none;
    padding: 0;
    margin: 0;

}
#portfolio li{
    list-style: none;
    display: inline-block;



}

#portfolio img{
    opacity: 0.9;
    margin-bottom: 30px;
}


#portfolio img:hover{
    opacity: 0.6;
}

/*================================================================================
  CONTACT
=================================================================================*/

#contact{
    padding: 40px 0 60px 0;

}

#contact .info li{
    display: inline-block;

}

#contact .info li{
    padding-right: 10px;

}

.info{

}
.info ul{
    margin:0;
    padding: 0;
}

.info li{
    list-style:none;
}

#contact button{
    margin-top:10px;
}




form .actions
{
    padding-top: 0;
}

form label
{
    display: block;
}

form .text,
form select,
form .textarea,
form textarea
{
    -webkit-appearance: none;
    display: block;
    background: #f3f4f5;
    border: solid 1px #d2d7dc ; /*#d2d7dc*/
    border-radius: 0.35em;
    width: 100%;
    padding: 0.85em;
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

form .captcha
{
    -webkit-appearance: none;
    display: block;
    background: #f3f4f5;
    border: solid 1px #d2d7dc ; /*#d2d7dc*/
    border-radius: 0.35em;
    width: 26%;
    padding: 0.85em;
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}



form .text:focus,
form select:focus,
form .textarea:focus
{
    background: #fff;
}

form .textarea
{
    min-height: 7em;
}

form .formerize-placeholder
{
    color: #555 !important;
}

form ::-webkit-input-placeholder
{
    color: #555 !important;
}

form :-moz-placeholder
{
    color: #555 !important;
}

form ::-moz-placeholder
{
    color: #555 !important;
}

form :-ms-input-placeholder
{
    color: #555 !important;
}

form ::-moz-focus-inner
{
    border: 0;
}

form ul {
    text-decoration: none;
    margin: 0;
    padding: 0;

}

form li{
    list-style: none;
}




/*================================================================================
  FOOTER
=================================================================================*/

#footer{

    padding: 20px 0 10px 0;
    font-family: 'refrigeratorlight';


}

#footer article {
    padding-top: 20px;
}






/*================================================================================
  Scroll to top
=================================================================================*/

.scrolltotop{
    width:50px;
    height:50px;
    display:block;
    margin: 0 auto;

    opacity: 0.6;
    background:url('styles/images/up.svg') no-repeat;
    background-size:cover;
    text-indent:-999em;
    cursor:hand;
    cursor:pointer;

}
.scrolltotop:hover{

    opacity: 1;

}

/*================================================================================
  MAPS
=================================================================================*/
#map-canvas {
    height: 400px;
    width: 100%;
}


/*================================================================================
  BLOCK GRID
=================================================================================*/




/*================================================================================
  PORTFOLIO-ITEMS
=================================================================================*/


#portfolio-item {
    width: 100%;
    height: 400px;
}



/* ============================================================
  GLOBAL
============================================================ */
.img {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
}

 .img #portfolio-item {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
}

.overlay {
    display: block;
    position: absolute;
    z-index: 20;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: all 0.5s;
}

a.close-overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 45px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 45px;
    text-align: center;
    background-color: #000;
    cursor: pointer;
}
a.close-overlay.hidden {
    display: none;
}

a.expand {
    display: block;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    /*border: solid 5px #fff;*/
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-weight: 700;
    font-size: 30px;
    border-radius: 30px;
}


/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
.overlay a.expand {
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    opacity: 0;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.img.hover .overlay {
    opacity: 1;

}
.img.hover .overlay a.expand {
    top: 50%;
    margin-top: -30px;
    opacity: 1;

}









#logo-wrapper{
    padding-top: 24px;
    width: 100%;
}

.sliderbg{
    background: #111;
    padding: 0;
}
#slider{
    opacity: 0.7;
}




.btn2 {
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;

    margin: 0 0 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 1rem;
    /*     @else                            { font-size: $padding - rem-calc(2); } */
    background-color: #008cba;
    border-color: #007095;
    color: white;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    padding-top: 1.0625rem;
    padding-bottom: 2px;
    -webkit-appearance: none;
    border: none;
    font-weight: normal !important; }





