

@font-face {
    font-family: 'print_boldregular';
    src: url('fonts/printbold-webfont.eot#') format('eot'),
    url('fonts/printbold-webfont.woff') format('woff'),
    url('fonts/printbold-webfont.ttf') format('truetype'),
    url('fonts/printbold-webfont.svg#print_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'print_clearlyregular';
    src: url('fonts/printclearly-webfont.eot#') format('eot'),
    url('fonts/printclearly-webfont.woff') format('woff'),
    url('fonts/printclearly-webfont.ttf') format('truetype'),
    url('fonts/printclearly-webfont.svg#print_clearlyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'refrigeratorlight';
    src: url('fonts/ufonts.com_refrigerator_light-webfont.eot#') format('eot'),
    url('fonts/ufonts.com_refrigerator_light-webfont.woff') format('woff'),
    url('fonts/ufonts.com_refrigerator_light-webfont.ttf') format('truetype'),
    url('fonts/ufonts.com_refrigerator_light-webfont.svg#refrigeratorlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*================================================================================
    MAIN STYLES
=================================================================================*/

html {
    margin: 0;
    padding: 0;
}

body {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */

   /* background: url('images/wood.png') repeat fixed;*/
    font-family: sans-serif;
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
}


h1 {
    font-family: 'refrigeratorlight';
    font-size: 440%;
}
h2 {
    font-family: 'print_boldregular';
    font-size: 38px;
}

p{
    font-size: 14px;

}

.icon {
    color: #f85c37;
    opacity: 0.90;
}
.icon:hover{
    font-size: 600%;
    margin-top: -14px;
}


.logo{
    width: 20%;
    opacity: 0.8;
    margin: 0 auto;
    margin-bottom: 24px;
    margin-right: 60px;
}

.logo2{
    width: 130%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.logo3{
    width: 30%;

}


/*================================================================================
    COLORS
=================================================================================*/

.darkgrey{
    color: #1a1a1a;
}
.darkgreybg{
    background-color: #1a1a1a;
}

.grey{
    color: #b9b9b9;
}
.greybg{
    background-color: #b9b9b9;
}


.white{
    color: #fff;
}
.whitebg{
    background-color: #fff;
}


.carbonbg{
    background: url('images/white_carbon.png') repeat;
    opacity: 0.95;
}


.darkcarbonbg{
    background: url('images/micro_carbon.png') repeat;

}

.red{
    color:#f85c37;
}
.redbg{
    background-color:#f85c37;
}

/*================================================================================
   WRAPPERS
=================================================================================*/
.wrapper{
    float: left;
    width: 100%;
}



/*================================================================================
   HEADER-WRAPPER
=================================================================================*/

#header-wrapper {
    opacity: 0.9;
    padding : 0;
    margin: 0;

}

#header-wrapper li {
   list-style:none;
    display: inline-block;

}

#header-wrapper li:first-of-type {
    float:left;

}
#header-wrapper li:last-of-type {
    float:right;

}

#header-wrapper p,#header-wrapper a{
    padding: 10px;
    font-size: 12px;
    color: lightgrey;
}


/*================================================================================
   NAVIGATION
=================================================================================*/

#nav-wrapper{
    margin: 0;
    opacity:0.96;
    border: none;
    -webkit-box-shadow: 0 -7px 65px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 -7px 65px 0 rgba(50, 50, 50, 1));
    box-shadow: 0 -7px 65px 0 rgba(50, 50, 50, 1);


}
.navbar{
    padding: 18px 0;

}
.navbar-collapse{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding:5px 0 5px 10px;
    font-family: 'print_boldregular';
    color: #111;
    font-size: 16px;



}

.navbar-brand{
    width: 50px;
    height: 50px;
    background: url('images/belgium_flag_map.png') no-repeat center center;
    background-size: cover;
    opacity:0.8;

}


.navbar-brand:hover{
    opacity:1;
    width: 60px;
    height: 60px;
    margin-top: -6px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.navbar .in .nav li {
    display: block;
    float: none;
    width:100%;
}




/*================================================================================
  SLIDES
=================================================================================*/


#header-wrapper{
    padding:0;
    margin: 0;
}

.welkomstekst{
    font-family: 'refrigeratorlight';
    font-size: 100%;

}


.slide1{
    background: url('images/about3.jpg') fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.slide2{
    background: url('images/quote_bg2.jpg') fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.slide3{
    background: url('../content/images/champagne.jpg') fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;

}

.slide{
    display: block;
    height: 100%;
    padding-top: 7%;
    border: 0;
    overflow: hidden;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
}


/*================================================================================
   CONTENT-HEADER
=================================================================================*/
#content-header-wrapper{
      padding: 60px 0 60px 0;

  }


#introduction{
    padding-bottom: 10px;

}


/* Services slider */
#services-slider{
    overflow: hidden;
}

#services-slider .servicesLink {
    zoom: 1;
    visibility: visible!important;
    filter: alpha(opacity=100);
    opacity: 1!important;
}

/* Arrow controls */
.services-arrow-prev,
.services-arrow-next {
    display: block;
    width: 40px;
    height: 40px;
    color: #ffffff;
    font-size: 28px;
    line-height: 38px;
    position: absolute;
    bottom: 44%;
    z-index: 24;
}

.services-arrow-prev {
    text-indent: -2px;
    left: 0;
}

.services-arrow-next {
    text-indent: 2px;
    right: 0;
}

.services-arrow-prev:hover,
.services-arrow-next:hover {
    color: #ffffff;
    -webkit-box-shadow: inset 0px 0px 100px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 0px 100px rgba(255,255,255,0.2);
    box-shadow: inset 0px 0px 100px rgba(255,255,255,0.2);
}


/*================================================================================
   ABOUT
=================================================================================*/
#about{
    padding: 40px 0 60px 0;

}
#tarieventabellen {
    margin-top: 16px;
    margin-bottom: 20px;
}
.tarieventabel{
     display: block;
     margin: 0;
     padding: 20px;


 }


.tarieventabel li{
     list-style: none;

 }

.tarieventabel .title{
    font-size: 40px;
    padding: 0 0 4px 0;
    font-family: 'refrigeratorlight';

}


.tarieventabel .image{
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background: url('images/towel-icon.png') center center;
    background-size: cover;

}

.tarieventabel .description{
    padding: 10px 0 2px 0;
}

.tarieventabel .btn{
    margin:4px;
}


ul.pricing-table{

    height:auto;
    float:left;
    display:inline-block;

}

/*================================================================================
   OPENINGSUREN
=================================================================================*/

#services{
    background: url('images/about3.jpg') fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
    padding: 40px 0 40px 0;

}



.border{
    border-right: 1px white solid;
}

#services h1{
    color: #fff;

}
#services header{
    padding-bottom: 20px;
}

table{
    font-family: 'dk_crayon_crumbleregular';
    background: none;
    color: #fff;
    border: none;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: none;
    color: #fff;

}


table thead,
table tfoot {
    background: none;
    border-bottom: 1px #f0f0f0 solid;
}
table thead tr th,
table thead tr td,
table tfoot tr th,
table tfoot tr td {
    padding: 0.5rem 0.625rem 0.625rem;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: left; }
table tr th,
table tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 20px;
    color: #fff; }


/*================================================================================
   GALLERIJ
=================================================================================*/

#pre-gallerij{
    background-size: cover;
    opacity: 0.9;
    padding: 20px 0 80px 0;
}

#pre-gallerij article{
    padding-top: 3%;

}

#pre-gallerij h1{
    font-family: 'refrigeratorlight';
    font-size: 80px;


}

#pre-gallerij p{
    padding-bottom: 8px;


}


.button {
    font-family: 'refrigeratorlight';
    font-size: 30px;
    background: none;
    border: 2px #f0f0f0 solid;
    padding: 16px 50px;
}


.button:hover {

    background: #f85c37;
    color: white;
    border: 2px #111 solid;

}


#portfolio{
    padding: 40px 0 40px 0;

}

#portfolio .row{
     margin-bottom: 20px;

 }

#portfolio header{
    padding-bottom:20px;

}

#portfolio ul{
    text-decoration: none;
    padding: 0;
    margin: 0;

}
#portfolio li{
    list-style: none;
    display: inline-block;



}

#portfolio img{
    opacity: 0.9;
    margin-bottom: 30px;
}


#portfolio img:hover{
    opacity: 0.6;
}

/*================================================================================
  CONTACT
=================================================================================*/

#contact{
    padding: 40px 0 60px 0;

}

#contact .info li{
    display: inline-block;

}

#contact .info li{
   padding-right: 10px;

}

.info{

}
.info ul{
    margin:0;
    padding: 0;
}

.info li{
    list-style:none;
}

#contact button{
    margin-top:10px;
}




form .actions
{
    padding-top: 0;
}

form label
{
    display: block;
}

form input.text,
form select,
form textarea
{
    -webkit-appearance: none;
    display: block;
    background: #f3f4f5;
    border: solid 1px #d2d7dc ; /*#d2d7dc*/
    border-radius: 0.35em;
    width: 100%;
    padding: 0.85em;
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

form input.text:focus,
form select:focus,
form textarea:focus
{
    background: #fff;
}

form textarea
{
    min-height: 7em;
}

form .formerize-placeholder
{
    color: #555 !important;
}

form ::-webkit-input-placeholder
{
    color: #555 !important;
}

form :-moz-placeholder
{
    color: #555 !important;
}

form ::-moz-placeholder
{
    color: #555 !important;
}

form :-ms-input-placeholder
{
    color: #555 !important;
}

form ::-moz-focus-inner
{
    border: 0;
}

form ul {
    text-decoration: none;
    margin: 0;
    padding: 0;

}

form li{
    list-style: none;
}




/*================================================================================
  FOOTER
=================================================================================*/

#footer{

    padding: 20px 0 10px 0;
    font-family: 'refrigeratorlight';


}

#footer article {
    padding-top: 20px;
}




















/*================================================================================
  Parallax
=================================================================================*/

#parralax {

}







/*================================================================================
  Scroll to top
=================================================================================*/

.scrolltotop{
    width:50px;
    height:50px;
    display:block;
    margin: 0 auto;

    opacity: 0.6;
    background:url('images/up.svg') no-repeat;
    background-size:cover;
    text-indent:-999em;
    cursor:hand;
    cursor:pointer;

}
.scrolltotop:hover{

    opacity: 1;

}

/*================================================================================
  MAPS
=================================================================================*/
#map-canvas {
    height: 400px;
width: 100%;
}































/* Foundation Visibility HTML Classes */
.show-for-small,
.show-for-small-only,
.show-for-medium-down,
.show-for-large-down,
.hide-for-medium,
.hide-for-medium-up,
.hide-for-medium-only,
.hide-for-large,
.hide-for-large-up,
.hide-for-large-only,
.hide-for-xlarge,
.hide-for-xlarge-up,
.hide-for-xlarge-only,
.hide-for-xxlarge-up,
.hide-for-xxlarge-only {
    display: inherit !important; }

.hide-for-small,
.hide-for-small-only,
.hide-for-medium-down,
.show-for-medium,
.show-for-medium-up,
.show-for-medium-only,
.hide-for-large-down,
.show-for-large,
.show-for-large-up,
.show-for-large-only,
.show-for-xlarge,
.show-for-xlarge-up,
.show-for-xlarge-only,
.show-for-xxlarge-up,
.show-for-xxlarge-only {
    display: none !important; }

/* Specific visibility for tables */
table.show-for-small, table.show-for-small-only, table.show-for-medium-down, table.show-for-large-down, table.hide-for-medium, table.hide-for-medium-up, table.hide-for-medium-only, table.hide-for-large, table.hide-for-large-up, table.hide-for-large-only, table.hide-for-xlarge, table.hide-for-xlarge-up, table.hide-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
    display: table; }

thead.show-for-small, thead.show-for-small-only, thead.show-for-medium-down, thead.show-for-large-down, thead.hide-for-medium, thead.hide-for-medium-up, thead.hide-for-medium-only, thead.hide-for-large, thead.hide-for-large-up, thead.hide-for-large-only, thead.hide-for-xlarge, thead.hide-for-xlarge-up, thead.hide-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
    display: table-header-group !important; }

tbody.show-for-small, tbody.show-for-small-only, tbody.show-for-medium-down, tbody.show-for-large-down, tbody.hide-for-medium, tbody.hide-for-medium-up, tbody.hide-for-medium-only, tbody.hide-for-large, tbody.hide-for-large-up, tbody.hide-for-large-only, tbody.hide-for-xlarge, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
    display: table-row-group !important; }

tr.show-for-small, tr.show-for-small-only, tr.show-for-medium-down, tr.show-for-large-down, tr.hide-for-medium, tr.hide-for-medium-up, tr.hide-for-medium-only, tr.hide-for-large, tr.hide-for-large-up, tr.hide-for-large-only, tr.hide-for-xlarge, tr.hide-for-xlarge-up, tr.hide-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
    display: table-row !important; }

td.show-for-small, td.show-for-small-only, td.show-for-medium-down
td.show-for-large-down, td.hide-for-medium, td.hide-for-medium-up, td.hide-for-large, td.hide-for-large-up, td.hide-for-xlarge
td.hide-for-xlarge-up, td.hide-for-xxlarge-up,
th.show-for-small,
th.show-for-small-only,
th.show-for-medium-down
th.show-for-large-down,
th.hide-for-medium,
th.hide-for-medium-up,
th.hide-for-large,
th.hide-for-large-up,
th.hide-for-xlarge
th.hide-for-xlarge-up,
th.hide-for-xxlarge-up {
    display: table-cell !important; }

/* Medium Displays: 641px and up */
@media only screen and (min-width: 40.063em) {
    .hide-for-small,
    .hide-for-small-only,
    .show-for-medium,
    .show-for-medium-down,
    .show-for-medium-up,
    .show-for-medium-only,
    .hide-for-large,
    .hide-for-large-up,
    .hide-for-large-only,
    .hide-for-xlarge,
    .hide-for-xlarge-up,
    .hide-for-xlarge-only,
    .hide-for-xxlarge-up,
    .hide-for-xxlarge-only {
        display: inherit !important; }

    .show-for-small,
    .show-for-small-only,
    .hide-for-medium,
    .hide-for-medium-down,
    .hide-for-medium-up,
    .hide-for-medium-only,
    .hide-for-large-down,
    .show-for-large,
    .show-for-large-up,
    .show-for-large-only,
    .show-for-xlarge,
    .show-for-xlarge-up,
    .show-for-xlarge-only,
    .show-for-xxlarge-up,
    .show-for-xxlarge-only {
        display: none !important; }

    /* Specific visibility for tables */
    table.hide-for-small, table.hide-for-small-only, table.show-for-medium, table.show-for-medium-down, table.show-for-medium-up, table.show-for-medium-only, table.hide-for-large, table.hide-for-large-up, table.hide-for-large-only, table.hide-for-xlarge, table.hide-for-xlarge-up, table.hide-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
        display: table; }

    thead.hide-for-small, thead.hide-for-small-only, thead.show-for-medium, thead.show-for-medium-down, thead.show-for-medium-up, thead.show-for-medium-only, thead.hide-for-large, thead.hide-for-large-up, thead.hide-for-large-only, thead.hide-for-xlarge, thead.hide-for-xlarge-up, thead.hide-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
        display: table-header-group !important; }

    tbody.hide-for-small, tbody.hide-for-small-only, tbody.show-for-medium, tbody.show-for-medium-down, tbody.show-for-medium-up, tbody.show-for-medium-only, tbody.hide-for-large, tbody.hide-for-large-up, tbody.hide-for-large-only, tbody.hide-for-xlarge, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
        display: table-row-group !important; }

    tr.hide-for-small, tr.hide-for-small-only, tr.show-for-medium, tr.show-for-medium-down, tr.show-for-medium-up, tr.show-for-medium-only, tr.hide-for-large, tr.hide-for-large-up, tr.hide-for-large-only, tr.hide-for-xlarge, tr.hide-for-xlarge-up, tr.hide-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
        display: table-row !important; }

    td.hide-for-small, td.hide-for-small-only, td.show-for-medium, td.show-for-medium-down, td.show-for-medium-up, td.show-for-medium-only, td.hide-for-large, td.hide-for-large-up, td.hide-for-large-only, td.hide-for-xlarge, td.hide-for-xlarge-up, td.hide-for-xlarge-only, td.hide-for-xxlarge-up, td.hide-for-xxlarge-only,
    th.hide-for-small,
    th.hide-for-small-only,
    th.show-for-medium,
    th.show-for-medium-down,
    th.show-for-medium-up,
    th.show-for-medium-only,
    th.hide-for-large,
    th.hide-for-large-up,
    th.hide-for-large-only,
    th.hide-for-xlarge,
    th.hide-for-xlarge-up,
    th.hide-for-xlarge-only,
    th.hide-for-xxlarge-up,
    th.hide-for-xxlarge-only {
        display: table-cell !important; } }
/* Large Displays: 1024px and up */
@media only screen and (min-width: 64.063em) {
    .hide-for-small,
    .hide-for-small-only,
    .hide-for-medium,
    .hide-for-medium-down,
    .hide-for-medium-only,
    .show-for-medium-up,
    .show-for-large,
    .show-for-large-up,
    .show-for-large-only,
    .hide-for-xlarge,
    .hide-for-xlarge-up,
    .hide-for-xlarge-only,
    .hide-for-xxlarge-up,
    .hide-for-xxlarge-only {
        display: inherit !important; }

    .show-for-small-only,
    .show-for-medium,
    .show-for-medium-down,
    .show-for-medium-only,
    .hide-for-large,
    .hide-for-large-up,
    .hide-for-large-only,
    .show-for-xlarge,
    .show-for-xlarge-up,
    .show-for-xlarge-only,
    .show-for-xxlarge-up,
    .show-for-xxlarge-only {
        display: none !important; }

    /* Specific visibility for tables */
    table.hide-for-small, table.hide-for-small-only, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large, table.show-for-large-up, table.show-for-large-only, table.hide-for-xlarge, table.hide-for-xlarge-up, table.hide-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
        display: table; }

    thead.hide-for-small, thead.hide-for-small-only, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large, thead.show-for-large-up, thead.show-for-large-only, thead.hide-for-xlarge, thead.hide-for-xlarge-up, thead.hide-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
        display: table-header-group !important; }

    tbody.hide-for-small, tbody.hide-for-small-only, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large, tbody.show-for-large-up, tbody.show-for-large-only, tbody.hide-for-xlarge, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
        display: table-row-group !important; }

    tr.hide-for-small, tr.hide-for-small-only, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large, tr.show-for-large-up, tr.show-for-large-only, tr.hide-for-xlarge, tr.hide-for-xlarge-up, tr.hide-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
        display: table-row !important; }

    td.hide-for-small, td.hide-for-small-only, td.hide-for-medium, td.hide-for-medium-down, td.hide-for-medium-only, td.show-for-medium-up, td.show-for-large, td.show-for-large-up, td.show-for-large-only, td.hide-for-xlarge, td.hide-for-xlarge-up, td.hide-for-xlarge-only, td.hide-for-xxlarge-up, td.hide-for-xxlarge-only,
    th.hide-for-small,
    th.hide-for-small-only,
    th.hide-for-medium,
    th.hide-for-medium-down,
    th.hide-for-medium-only,
    th.show-for-medium-up,
    th.show-for-large,
    th.show-for-large-up,
    th.show-for-large-only,
    th.hide-for-xlarge,
    th.hide-for-xlarge-up,
    th.hide-for-xlarge-only,
    th.hide-for-xxlarge-up,
    th.hide-for-xxlarge-only {
        display: table-cell !important; } }
/* X-Large Displays: 1441 and up */
@media only screen and (min-width: 90.063em) {
    .hide-for-small,
    .hide-for-small-only,
    .hide-for-medium,
    .hide-for-medium-down,
    .hide-for-medium-only,
    .show-for-medium-up,
    .show-for-large-up,
    .hide-for-large-only,
    .show-for-xlarge,
    .show-for-xlarge-up,
    .show-for-xlarge-only,
    .hide-for-xxlarge-up,
    .hide-for-xxlarge-only {
        display: inherit !important; }

    .show-for-small-only,
    .show-for-medium,
    .show-for-medium-down,
    .show-for-medium-only,
    .show-for-large,
    .show-for-large-only,
    .show-for-large-down,
    .hide-for-xlarge,
    .hide-for-xlarge-up,
    .hide-for-xlarge-only,
    .show-for-xxlarge-up,
    .show-for-xxlarge-only {
        display: none !important; }

    /* Specific visibility for tables */
    table.hide-for-small, table.hide-for-small-only, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large-up, table.hide-for-large-only, table.show-for-xlarge, table.show-for-xlarge-up, table.show-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
        display: table; }

    thead.hide-for-small, thead.hide-for-small-only, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large-up, thead.hide-for-large-only, thead.show-for-xlarge, thead.show-for-xlarge-up, thead.show-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
        display: table-header-group !important; }

    tbody.hide-for-small, tbody.hide-for-small-only, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large-up, tbody.hide-for-large-only, tbody.show-for-xlarge, tbody.show-for-xlarge-up, tbody.show-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
        display: table-row-group !important; }

    tr.hide-for-small, tr.hide-for-small-only, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large-up, tr.hide-for-large-only, tr.show-for-xlarge, tr.show-for-xlarge-up, tr.show-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
        display: table-row !important; }

    td.hide-for-small, td.hide-for-small-only, td.hide-for-medium, td.hide-for-medium-down, td.hide-for-medium-only, td.show-for-medium-up, td.show-for-large-up, td.hide-for-large-only, td.show-for-xlarge, td.show-for-xlarge-up, td.show-for-xlarge-only, td.hide-for-xxlarge-up, td.hide-for-xxlarge-only,
    th.hide-for-small,
    th.hide-for-small-only,
    th.hide-for-medium,
    th.hide-for-medium-down,
    th.hide-for-medium-only,
    th.show-for-medium-up,
    th.show-for-large-up,
    th.hide-for-large-only,
    th.show-for-xlarge,
    th.show-for-xlarge-up,
    th.show-for-xlarge-only,
    th.hide-for-xxlarge-up,
    th.hide-for-xxlarge-only {
        display: table-cell !important; } }
/* XX-Large Displays: 1920 and up */
@media only screen and (min-width: 120.063em) {
    .hide-for-small,
    .hide-for-small-only,
    .hide-for-medium,
    .hide-for-medium-down,
    .hide-for-medium-only,
    .show-for-medium-up,
    .show-for-large-up,
    .hide-for-large-only,
    .hide-for-xlarge-only,
    .show-for-xlarge-up,
    .show-for-xxlarge-up,
    .show-for-xxlarge-only {
        display: inherit !important; }

    .show-for-small-only,
    .show-for-medium,
    .show-for-medium-down,
    .show-for-medium-only,
    .show-for-large,
    .show-for-large-only,
    .show-for-large-down,
    .hide-for-xlarge,
    .show-for-xlarge-only,
    .hide-for-xxlarge-up,
    .hide-for-xxlarge-only {
        display: none !important; }

    /* Specific visibility for tables */
    table.hide-for-small, table.hide-for-small-only, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large-up, table.hide-for-xlarge-only, table.show-for-xlarge-up, table.show-for-xxlarge-up, table.show-for-xxlarge-only {
        display: table; }

    thead.hide-for-small, thead.hide-for-small-only, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large-up, thead.hide-for-xlarge-only, thead.show-for-xlarge-up, thead.show-for-xxlarge-up, thead.show-for-xxlarge-only {
        display: table-header-group !important; }

    tbody.hide-for-small, tbody.hide-for-small-only, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large-up, tbody.hide-for-xlarge-only, tbody.show-for-xlarge-up, tbody.show-for-xxlarge-up, tbody.show-for-xxlarge-only {
        display: table-row-group !important; }

    tr.hide-for-small, tr.hide-for-small-only, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large-up, tr.hide-for-xlarge-only, tr.show-for-xlarge-up, tr.show-for-xxlarge-up, tr.show-for-xxlarge-only {
        display: table-row !important; }

    td.hide-for-small, td.hide-for-small-only, td.hide-for-medium, td.hide-for-medium-down, td.hide-for-medium-only, td.show-for-medium-up, td.show-for-large-up, td.hide-for-xlarge-only, td.show-for-xlarge-up, td.show-for-xxlarge-up, td.show-for-xxlarge-only,
    th.hide-for-small,
    th.hide-for-small-only,
    th.hide-for-medium,
    th.hide-for-medium-down,
    th.hide-for-medium-only,
    th.show-for-medium-up,
    th.show-for-large-up,
    th.hide-for-xlarge-only,
    th.show-for-xlarge-up,
    th.show-for-xxlarge-up,
    th.show-for-xxlarge-only {
        display: table-cell !important; } }





.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}


