/*================================================================================
  SIDEBAR
=================================================================================*/

#sidebar{
    padding: 30px 0 40px 0;
}

#sidebar h1{
    margin-bottom: 14px;
}

#sidebar ul {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

#sidebar li {
    display: inline-block;
    list-style: none;


}

#sidebar li ul li{
    display: block;
    padding: 14px 0 8px 0;
    border-bottom: 1px dashed #a9a9a9;

}

#sidebar li ul li a{
    color: dimgrey;

}


#sidebar p{
    color: dimgrey;

}